html {
  font-size: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}

*,
:after,
:before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.7rem;
  font-weight: 600;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

h6 {
  font-size: 1.45rem;
  font-weight: 400;
}

.p-large {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  font-family: "Lato";
  font-weight: 400;
}

a {
  font-size: 1rem;
}

/* Tablets */
@media only screen and (min-width: 30rem) {
  h1 {
    font-size: 2.8rem;
    font-weight: 600;
  }
  h2 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h6 {
    font-size: 1.5rem;
  }
  .wide-btn {
    width: 300px;
    display: inline-block;
  }
}

/* Large Screens */
@media only screen and (min-width: 65.625rem) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/* Global Attributes */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper {
  max-width: 124rem;
  margin: auto;
}

.white-modal {
  background-color: #fff;
  margin: auto;
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px #00000038;
}

.inline-b {
  display: inline-block;
}

.bg-secondary {
  background-color: #fafafa;
}

.bg-tan {
  background-color: #f7f6f4;
}

.no-decoration {
  text-decoration: none;
}

.padded-section {
  padding: 2.5rem 2.5rem;
}

.content {
  margin-top: 3.75rem;
}

.l-margin-bottom {
  margin-top: 1.725rem;
}

.margin-bottom {
  margin-bottom: 0.725rem;
}

.l-margin-top {
  margin-top: 1.725rem;
}

.margin-tb10 {
  margin: 10px 0 10px 0;
}

.margin-tb20 {
  margin: 20px 0 20px 0;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-b10 {
  margin-bottom: 10px;
}

.margin-b20 {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 0.725rem;
}

.shadow {
  box-shadow: 1px 1px 6px 1px #00000038;
}

.lato {
  font-family: "Lato";
  font-weight: 400;
}

.mont {
  font-family: "Montserrat";
  font-weight: 400;
}

.space-text {
  line-height: 30px;
}

.text-narrow {
  max-width: 68.75rem;
  margin: auto;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #f69353;
}

.text-blue {
  color: #196E7A;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

/* Global Components */

.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.775rem;
  border-radius: 3px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.primary-btn {
  background-color: #f69353;
  color: #fff;
  border: none;
}

.primary-line {
  color: #f69353;
  background-color: #fff;
  border: 2px solid #f69353;
}

.wide-btn {
  width: 200px;
  display: inline-block;
}

.button-primary:hover {
  background-color: #ee8e4d;
}

.input-primary {
  font-size: 1rem;
  padding: 0.45rem;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
}

/* Desktop Only */

@media only screen and (min-width: 65.625rem) {
  .hide-on-desktop {
    display: none;
  }
  .padded-section {
    padding: 5rem 2.5rem;
  }
}
