@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-regular.woff") format("woff");
  font-display: block;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/fonts/montserrat-v14-latin-600.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-600.woff") format("woff");
  font-display: block;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/lato-v17-latin-regular.woff2") format("woff2"),
    url("/fonts/lato-v17-latin-regular.woff") format("woff");
  font-display: block;
}
